
    /*****************************************************************************
    *   Contains all style attributes the html page makes use of.
    *
    *   @author     Christopher Stock
    *   @version    0.0.2
    *****************************************************************************/
    body.mfg
    {
        background-color:           #000000;
        margin:                     auto;
        overflow:                   hidden;
        text-align:                 center;
    }
